@model WebsiteBanHangCongNghe.ViewModel.ProductDetailVM

@{
    ViewData["Title"] = "Details";
}

<div class="col-sm-12 padding-right">
	<div class="product-details">
		<!--product-details-->
		<div class="col-sm-5">
			<div class="view-product">
				<img src="~/imgs/Images/Product/@Model.image" alt="">
				<h3>ZOOM</h3>
			</div>
			

		</div>
		<div class="col-sm-7">
			<div class="product-information">
			

				<!--/product-information-->
				<img src="images/product-details/new.jpg" class="newarrival" alt="">
				<h2>@Model.Name</h2>
				<p>Rating: @Model.Rating <i class="bi bi-star-fill"></i></p>
				<form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.Id">
				<span>
					<span>@Model.price.ToString("N0") VNĐ</span>
					<label>Quantity:</label>
					<input type="text" value="1" name="Quantity">
					<button  class="btn btn-fefault cart">
						<i class="fa fa-shopping-cart"></i>
						Add to cart
					</button>
					</form>
				</span>
				<p><b>Availability:</b>@Model.InstockName</p>
				<p><b>Category:</b> @Model.CategoryName</p>
				<p><b>Brand:</b> @Model.BrandName</p>
				<p><b>Description</b>:@Model.description</p>
			
			</div><!--/product-information-->
		</div>
	</div><!--/product-details-->
	


</div>